<html>
  <head>
	<title>Recent Plates</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script>
		var socket = io('https://raspberrypi.local/');
  		socket.on('connect', function(){});
		socket.on('getgps', function(data) {
			addgps(data.id);
		});
 		socket.on('disconnect', function(){});

		var currentPosition = {
				latitude: 0,
				longitude: 0,
				accuracy: 0,
				heading: 0,
				speed: 0,
				gtimestamp: 0
			}


		<% if (bGPSOn) { %>		
		if (navigator.geolocation) {
				navigator.geolocation.watchPosition(function(position) {
					console.log("Position updated")
					currentPosition.latitude=position.coords.latitude;
					currentPosition.longitude=position.coords.longitude;
					currentPosition.accuracy=position.coords.accuracy;
					currentPosition.heading=position.coords.heading;
					currentPosition.speed=position.coords.speed;
					currentPosition.gtimestamp=position.timestamp;
				});
		}
		<% } %>	
		
		function addgps(id) {
			let positionPackage = {
				id: id,
				latitude: currentPosition.latitude,
				longitude: currentPosition.longitude,
				accuracy: currentPosition.accuracy,
				heading: currentPosition.heading,
				speed: currentPosition.speed,
				gtimestamp: currentPosition.gtimestamp
			}
			
			$.ajax({
				url: '/plates/'+id+'/addgps',
				type: 'POST',
				dataType: 'json',
				contentType: 'application/json',
				data: JSON.stringify(positionPackage),
				success: function (data) {
					console.log(data);
				}
			});    
		}
	</script>
  </head>
  <body>

<div class="row">
  <div class="col-sm-12">
    <p><b>Capture On:</b> <%= bCaptureOn %></p>
	<p><b>Stream Mode On:</b> <%= bStreamMode %>&nbsp;<b>Stream Sensor Mode:</b><%= iStreamSensorMode %></p>
	<p><b>GPS On:</b> <%= bGPSOn %></p>
	<p class="success bg-success"></p>
	<p><% if (bStreamMode) { %>
		<a href="/setsensormode?mode=0">[0: 1920x1080 30 fps]</a>&nbsp;
		<a href="/setsensormode?mode=1">[1: 3280x2464 15 fps]</a>&nbsp;
		<a href="/setsensormode?mode=2">[2: 1640x922 30 fps]</a>&nbsp;
		<a href="/setsensormode?mode=3">[3: 1640x922 40 fps]</a>&nbsp;
		<a href="/setsensormode?mode=4">[4: 1280x720 41 fps]</a>&nbsp;
		<a href="/setsensormode?mode=5">[5: 1280x720 60 fps]</a>&nbsp;
		<% } %></p>
	<p><a href="/togglecapture">[Toggle Capture Status]</a>&nbsp;
		<a href="/togglestreammode">[Toggle Stream Mode]</a>&nbsp;
		<a href="/togglegps">[Toggle GPS]</a>&nbsp;&nbsp;&nbsp; 
		<a href="/?includenomatch=only">[Only show no match]</a> &nbsp;
		<a href="/?includenomatch=true">[Show No Match + Match]</a>&nbsp; 
		<a href="/">[Only show match]</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
		<a href="/poweroff">[Power Off]</a></p>&nbsp;

<h3>Recent Plates</h3>
	<table class="table">
		<tr>
			 <th>id</th>
			 <th>timestamp</th>
			 <th>filename</th>
			 <th>plate</th>
			 <th>map link</th>
			 <th>confidence</th>
			 <th>processtime</th>
		</tr>
		
		<% if (plates.length>0) {		
			for(var i=0; i < plates.length; i++) { %>
		   <tr>
			 <td><%= plates[i].id %></td>
			 <td><%= plates[i].timestamp %></td>
			 <td><a href="<%= plates[i].filename %>"><%= plates[i].filename %></a></td>
			 <td><%= plates[i].plate %></td>
			 <td><a href="https://www.google.com/maps/place/"+<%= plates[i].latitude %>+
				","+<%= plates[i].longitude %>">map it</a></td>
			 <td><%= plates[i].confidence %></td>
			 <td><%= plates[i].processtime %></td>
		   </tr>
		<% 		}
		%>
		<tr><td colpan=7><a href="/?includenomatch=<%= includenomatch %>&topid=<%= plates[0].id -20 %>&bottomid=<%= plates[0].id -40 %>">Previous 20</a><br/>
		<a href="/?includenomatch=<%= includenomatch %>&topid=<%= plates[0].id +20 %>&bottomid=<%= plates[0].id  %>">Next 20</a>
		</td></tr>
		<%
			 } 
			 else { %><tr><td colspan=7>Out of bounds, <a href="/">back to home</a></td></tr> <%}%>
	</table>
  </div>

</div>	  

  </body>
</html>